<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#1d2d44">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-touch.png">
    <link rel="mask-icon" sizes="any" href="/images/favicon-mask.svg">
    <title>Employee Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!--    <link rel="stylesheet" type="text/css" href="../../../static/libs/MDB/css/mdb.css" th:href="@{/libs/MDB/css/mdb.css}">-->
    <link rel="stylesheet" type="text/css" href="../../../static/css/employee/dashboard.css" th:href="@{/css/employee/dashboard.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white" role="navigation" id="menu-nav">
    <a class="navbar-brand" href="#">Hibernia-Sino</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/employee/admin/dashboard#">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/employee/admin/claims#">Claim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/admin/customer#">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/admin/product#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
        <li class="navbar-nav dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="langDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Languages
            </a>
            <div class="dropdown-menu" aria-labelledby="langDrop">
                <a class="dropdown-item" href="?lang=en-US">English</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?lang=zh-CN">Chinese</a>
            </div>
        </li>
        <ul class="navbar-nav">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right" id="left-nav-bar">
        <p class="pull-left visible-xs" style="margin-top: 5px;">
            <button type="button" class="btn btn-sm" data-toggle="offcanvas" style="background-color: #1c2331;color: #e5f2fa">Side</button>
        </p>
        <nav class="col-md-3 col-lg-2 bg-light sidebar-offcanvas" id="sidebar">
            <div class="sidebar-sticky">

                <ul class="nav flex-column" data-spy="affix" >
                    <br/>
                    <li class="nav-item">
                        <a class="nav-link active" href="/employee/admin/detail#" style="font-size: 15px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Claim content
                        </a>
                    </li>
                    <br/>

                    <li class="nav-item">
                        <a class="nav-link active" href="/claim/claim_attachment#" style="font-size: 15px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            Attachment
                        </a>
                    </li>


                    <br/>
                    <li class="nav-item">
                        <a class="nav-link active" href="/claim/claim_feedback#" style="font-size: 15px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Feedback
                        </a>
                    </li>

                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <li class="nav-item">
                        <a class="nav-link" href="/employee/admin/claims#" style="font-size: 15px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Back to Claims
                        </a>
                    </li>
                    <br/>
                </ul>

            </div>
        </nav>
    </div>

    <div class="col-md-9 ml-sm-auto col-lg-10 px-4 main" id="main">




        <!--第一部分: 申请人信息-->
        <br/>
        <br/>
        <h2>Customer information</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm" style="border-right: 1px solid #c5c7cc;border-left: 1px solid #c5c7cc;border-bottom: 1px solid #c5c7cc;">
                <thead>
                <tr>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Claim Id</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Customer Id</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Customer Name</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Personal Id</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Insurance Type Id</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Application Date</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Email</th>
                    <th rowspan=$rowspan style='vertical-align: middle;text-align: left;'>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>002</td>
                    <td>1,001</td>
                    <td>Fu Zixin</td>
                    <td>11010319981224123x</td>
                    <td>CA0002</td>
                    <td>2019-03-09</td>
                    <td>fuzixin000@gmail.com</td>
                    <td>Accepted</td>
                </tr>

                </tbody>
            </table>
        </div>


        <!--第二部分: 申请内容-->
        <h3 id="content"></h3>
        <br/>
        <br/>
        <br/>
        <h2>Content</h2>
        <br>

        <p style="font-size:20px">
            Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can “just run”. We take an opinionated view of the Spring platform and third-party libraries so you can get started with minimum fuss. Most Spring Boot applications need very little Spring configuration.
            You can use Spring Boot to create Java applications that can be started using java -jar or more traditional war deployments. We also provide a command line tool that runs “spring scripts”.
            Our primary goals are:
            Provide a radically faster and widely accessible getting started experience for all Spring development.
            Be opinionated out of the box, but get out of the way quickly as requirements start to diverge from the defaults.
            Provide a range of non-functional features that are common to large classes of projects (e.g. embedded servers, security, metrics, health checks, externalized configuration).
            Absolutely no code generation and no requirement for XML configuration.
            Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can “just run”. We take an opinionated view of the Spring platform and third-party libraries so you can get started with minimum fuss. Most Spring Boot applications need very little Spring configuration.
            You can use Spring Boot to create Java applications that can be started using java -jar or more traditional war deployments. We also provide a command line tool that runs “spring scripts”.
            Our primary goals are:
            Provide a radically faster and widely accessible getting started experience for all Spring development.
            Be opinionated out of the box, but get out of the way quickly as requirements start to diverge from the defaults.
            Provide a range of non-functional features that are common to large classes of projects (e.g. embedded servers, security, metrics, health checks, externalized configuration).
            Absolutely no code generation and no requirement for XML configuration.
            Provide a radically faster and widely accessible getting started experience for all Spring development.
            Be opinionated out of the box, but get out of the way quickly as requirements start to diverge from the defaults.
            Provide a range of non-functional features that are common to large classes of projects (e.g. embedded servers, security, metrics, health checks, externalized configuration).
            Absolutely no code generation and no requirement for XML configuration.
            Provide a radically faster and widely accessible getting started experience for all Spring development.
            Be opinionated out of the box, but get out of the way quickly as requirements start to diverge from the defaults.
            Provide a range of non-functional features that are common to large classes of projects (e.g. embedded servers, security, metrics, health checks, externalized configuration).
            Absolutely no code generation and no requirement for XML configuration.

        </p>


        <!--&lt;!&ndash;第三部分：附件&ndash;&gt;-->
        <!--<h3 id="attachment"></h3>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<h2>Attachment</h2>-->
        <!--<br/>-->

        <!--<div class="row">-->

            <!--<div class="col-sm-6 col-md-3">-->
                <!--<a href="#" class="thumbnail">-->
                    <!--<img src="/images/bag.png"-->
                         <!--alt="..." class="img-responsive" width="300px", height="300px">-->
                <!--</a>-->
            <!--</div>-->

            <!--<div class="col-sm-6 col-md-3">-->
                <!--<a href="#" class="thumbnail">-->
                    <!--<img src="/images/ticket.png"-->
                         <!--alt="..."  class="img-responsive" width="300px", height="300px">-->
                <!--</a>-->
            <!--</div>-->

            <!--<div class="col-sm-6 col-md-3">-->
                <!--<a href="#" class="thumbnail">-->
                    <!--<img src="/images/insurance.png"-->
                         <!--alt="..."  class="img-responsive" width="300px", height="300px">-->
                <!--</a>-->
            <!--</div>-->

        <!--</div>-->

        <!--&lt;!&ndash;第四部分：feedback&ndash;&gt;-->
        <!--<h3 id="feedback"></h3>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<h3>Feedback</h3>-->
        <!--<br>-->

        <!--<p style="font-size:20px">-->
            <!--Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can “just run”. We take an opinionated view of the Spring platform and third-party libraries so you can get started with minimum fuss. Most Spring Boot applications need very little Spring configuration.-->
            <!--You can use Spring Boot to create Java applications that can be started using java -jar or more traditional war deployments. We also provide a command line tool that runs “spring scripts”.-->
        <!--</p>-->



        <!--&lt;!&ndash;第五部分：处理&ndash;&gt;-->
        <!--<h3 id = "result"></h3>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<h2>Result</h2>-->
        <!--<form>-->
            <!--<div class="form-row">-->
                <!--<div class="form-group col-md-6">-->
                    <!--<label for="inputId" style="font-size: 20px">Date of Accepted</label>-->
                    <!--<input type="date" class="form-control" id="inputId" placeholder="date">-->
                <!--</div>-->
            <!--</div>-->


            <!--<label style="font-size: 20px">Result</label>-->
            <!--<div class="form-row">-->
                <!--<div class="form-check">-->
                    <!--<input class="form-check-input" type="radio" name="exampleRadios" id="Accepted" value="option1" checked>-->
                    <!--<label class="form-check-label" for="Accepted" style="float:right;margin-right:20px;font-size: 20px;">-->
                        <!--Accepted-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                    <!--<input class="form-check-input" type="radio" name="exampleRadios" id="Unaccepted" value="option1" checked>-->
                    <!--<label class="form-check-label" for="UNaccepted" style="float:right;margin-right:20px;font-size: 20px;">-->
                        <!--Unaccepted-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check">-->
                    <!--<input class="form-check-input" type="radio" name="exampleRadios" id="Undetermined" value="option1" checked>-->
                    <!--<label class="form-check-label" for="Undetermined" style="float:right;margin-right:20px;font-size: 20px;">-->
                        <!--Undetermined-->
                    <!--</label>-->
                <!--</div>-->


            <!--</div>-->

            <!--<br/>-->
            <!--<div class="form-group">-->
                <!--<label for="exampleFormControlTextarea1" style="font-size: 20px">Feedback</label>-->
                <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>-->
            <!--</div>-->

            <!--<div class="col-auto">-->
                <!--<button type="submit" class="btn btn-primary mb-2" >Submit form</button>-->
            <!--</div>-->
        <!--</form>-->

        <br/>
        <br/>
        <br/>


    </div>

</div>
<script type="text/javascript" src="../../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" src="../../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--<script type="text/javascript" src="../../../static/libs/MDB/js/mdb.js" th:src="@{/libs/MDB/js/mdb.js}"></script>-->
<script type="text/javascript" src="../../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" src="../../../static/js/vue-router.js" th:src="@{/js/vue-router.js}"></script>
<script type="text/javascript" src="../../../static/js/employee/feather.min.js" th:src="@{/js/employee/feather.min.js}"></script>
<script type="text/javascript" src="../../../static/js/employee/dashboard.js" th:src="@{/js/employee/dashboard.js}"></script>
</body>
</html>
