/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
#menu-wrapper{

    width: 100%;
}
.nav a { text-decoration: none; }

.nav li { list-style: none; }

/* Menu Container */
.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
}

/* Menu List */
.nav > li {
    display: block;
    float: left;
}

/* Menu Links */
.nav > li > a {
    position: relative;
    display: block;
    z-index: 510;
    height: 54px;
    padding: 0 20px;
    line-height: 54px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fcfcfc;
    text-shadow: 0 0 1px rgba(0,0,0,.35);

    background: #372f2b;
    border-left: 1px solid #4b4441;
    border-right: 1px solid #312a27;

    /* -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease; */
}

.nav > li:hover > a { background: #4b4441; }

.nav > li:first-child > a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}

/* Search Form */
.nav > li.nav-search > form {
    position: relative;
    width: inherit;
    height: 54px;
    z-index: 510;
    border-left: 1px solid #4b4441;
}

.nav > li.nav-search input[type="text"] {
    display: block;
    float: left;
    width: 1px;
    height: 24px;
    padding: 15px 0;
    line-height: 24px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #999999;
    text-shadow: 0 0 1px rgba(0,0,0,.35);

    background: #372f2b;

    -webkit-transition: all .3s ease 1s;
    -moz-transition: all .3s ease 1s;
    -o-transition: all .3s ease 1s;
    -ms-transition: all .3s ease 1s;
    transition: all .3s ease 1s;
}

.nav > li.nav-search input[type="text"]:focus { color: #fcfcfc; }

.nav > li.nav-search input[type="text"]:focus,
.nav > li.nav-search:hover input[type="text"] {
    width: 110px;
    padding: 15px 20px;

    -webkit-transition: all .3s ease .1s;
    -moz-transition: all .3s ease .1s;
    -o-transition: all .3s ease .1s;
    -ms-transition: all .3s ease .1s;
    transition: all .3s ease .1s;
}

.nav > li.nav-search input[type="submit"] {
    display: block;
    float: left;
    width: 20px;
    height: 54px;
    padding: 0 25px;
    cursor: pointer;

    background: #372f2b url(search-icon.png) no-repeat center center;

    border-radius: 0 3px 3px 0;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.nav > li.nav-search input[type="submit"]:hover { background-color: #4b4441; }

/* Menu Dropdown */
.nav > li > div {
    position: absolute;
    display: block;
    width: 100%;
    top: 50px;
    left: 0;

    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    background: #ffffff;
    border-radius: 0 0 3px 3px;

    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.nav > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

/* Menu Content Styles */
.nav .nav-column {
    float: left;
    width: 20%;
    padding: 2.5%;
}

.nav .nav-column h3 {
    margin: 20px 0 10px 0;
    line-height: 18px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #372f2b;
    text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
    display: block;
    line-height: 26px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #888888;
}

.nav .nav-column li a:hover { color: #666666; }



.dark-matter {
    margin-left: auto;
    margin-right: auto;
    max-width: 542px;
    background: #555;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.dark-matter h1>span {
    display: block;
    font-size: 11px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}
.dark-matter label>span {
    float: left;
    width: 22%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
.dark-matter select {
    /* background: #DFDFDF url('down-arrow.png') no-repeat right;
    background: #DFDFDF url('down-arrow.png') no-repeat right; */
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.dark-matter .button {
    background: rgb(12, 122, 224);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px rgb(51, 106, 233);
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

.dark-matter .button:hover {
    color: #333;
    background-color: #EBEBEB;
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    /* color:#999; */
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    /* color:#999; */
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    /* color:#999; */
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    /* color:#999; */
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-left: 0px;
    padding-right:0px;
    padding-top: 30px;
    padding-bottom: 0px;
    color: #5a5a5a;

}


/*导航栏*/

.navbar a{
    color:white;
    font-size: 21px;
    font-weight: bold;
}
/*导航栏 变换*/
.navbar-transparent{
    transition-duration: 0.6s;
}
.navbar-default{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.6s;
    border-radius: 10px;
    box-shadow:12px 6px 12px 6px #ccc;
}


.navbar-transparent .navbar-brand {
    color: #ecf0f1;
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    transition-duration: 0.7s;
    color: #695051;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    border-radius: 0px 0px 5px 5px;
    transition-duration: 0.7s;
}
.navbar-transparent .navbar-text {
    color: #ecf0f1;
}
.navbar-transparent .navbar-nav > li > a {
    color: #ecf0f1;

}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    border-radius: 0px 0px 5px 5px;
    color: #695051;
    transition-duration: 0.7s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    border-radius: 0px 0px 5px 5px;
    transition-duration: 0.7s;
}
.navbar-transparent .navbar-nav > li > .dropdown-menu{
    background-color: #695051;
    border-radius: 0px 0px 8px 8px;

}
.navbar-default .navbar-nav > li > .dropdown-menu {
    border-radius: 0px 0px 8px 8px;

}
.navbar-transparent .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
    transition-duration: 0.8s;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {

    transition-duration: 0.8s;
}
.navbar-transparent .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-transparent .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #695051;
    background-color: white;
}
.navbar-transparent .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #584745;
}
.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a,
.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #695051;
    background-color: white;
}
.navbar-transparent .navbar-nav > .active > a{
    color: white;
    background-color: rgba(122, 30, 44, 0.41);
}
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus {
    color: #695051;
    background-color: white;
}
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
    color: #695051;
    background-color: #584745;
}
.navbar-transparent .navbar-toggle {
    border-color: #584745;
}
.navbar-transparent .navbar-toggle:hover,
.navbar-transparent .navbar-toggle:focus {
    background-color: #584745;
}
.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-transparent .navbar-collapse,
.navbar-transparent .navbar-form {
    border-color: #ecf0f1;
}
.navbar-transparent .navbar-link {
    color: #ecf0f1;
}
.navbar-transparent .navbar-link:hover {
    color: #695051;
}













.fixedBg{
    margin: 0px;
    padding: 0px;
    min-height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.testBefore,.testAfter{
    /*background: linear-gradient(to top, #ffffff, #ffefba);*/
    margin: 0px;
    padding: 0px;
    /*background: #333;*/
    width: 100%;
    height: 150px;
    text-align: center;
}
.testBefore{
    /*background: linear-gradient(to top, #ffefba, #ffffff);*/
    margin-top: 100px;

}

.img-logo{
    margin-top:-10px;
    width: 60px;
    height: 40px;
}


#title{
    text-align: center;
    margin-bottom: 80px;
}
.back h2{
    padding-top: 100px;
}
.margin{
    margin-top: 200px;
}
#company-screen{

    position:absolute;
    padding-top: 400px;
    margin-left: 180px;
    color: #FFFFFF;
}

#company{
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-top: -50px;
    height: 1080px;
    background-size: cover;
    mix-blend-mode: darken;
}


/*圆形图片*/
.circle-shadow{
    height: 360px;
    width: 360px;
    border-radius:50%;
    background-color: transparent;
    box-shadow:0px 0px 8px 5px #ccc;
    transform: scale(1.08);
}


.enter-shadow{
    box-shadow:0px 0px 8px 5px #ccc;
    transition-duration: 0.8s;
}

#mengban{
    position:absolute;
    height: 1232px;
    width: 100%;
    background-color: #3D3D3D;
    opacity: 0.6;

    margin-top: -200px;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/*.navbar a{*/
/*color:white;*/
/*} */



/* 轮播广告 */

.carousel {
    margin-top: 400px;
    height: 900px;
    margin-bottom: 60px;

}

.carousel .item {
    height: 900px;
    background-color: #000;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {

    z-index: 10;
}

.carousel-caption h1 {
    margin-bottom: 100px;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}
#ad-feedback {
    margin-top: 400px;
    height: 400px;
    margin-bottom: 60px;

}

#ad-feedback  .item {
    height: 400px;
    background-color: #000;
}

#ad-feedback  .item img {
    width: 100%;
}

.feedback-caption {

    z-index: 10;
}

.feedback-caption h1 {
    margin-bottom: 50px;
}

.feedback-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}



.back{
    margin-top: 200px;
    margin-bottom: 0px;
    height: 400px;
    width: 100%;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    box-shadow:300px 300px 300px 300px #ccc;
}
.back h3,.back h2{
    color: whitesmoke;
    text-align: center;
}
.end{
    margin-top: 60px;
    margin-bottom: 30px;
}
.link{
    margin-bottom: 50px;
    margin-left: 45%;
    margin-right: 39.5%;
}

/*#screen,.jumbotron{*/
/*width: 100%;*/
/*height: 800px;*/
/*margin: 0px;*/
/*padding: 0px;*/
/*}*/
/*#screen-img{*/
/*padding: 0px;*/
/*margin: 0px;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

/*.entry-img{*/
/*margin-left: 0px;*/
/*margin-right: 0px;*/
/*}*/





@media (max-width: 768px) {
    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }

    .carousel .item {
        height: 300px;
    }

    .carousel img {
        min-height: 300px;
    }


    .carousel-caption h1 {
        margin-bottom: 30px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }
    #company {
        height: 400px;
        background-size: cover;

    }
    #company-screen{

        padding-top: 100px;
        margin-left: 50px;
        color: #FFFFFF;
    }
    #company-screen h1{

        font-size: 32px;
    }
    #mengban{
        height: 570px;
    }
}



