<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hibernia-Sino Insurance Company</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="FG-TEAM">
    <meta name="theme-color" content="#1d2d44">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-touch.png">
    <link rel="mask-icon" sizes="any" href="/images/favicon-mask.svg">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/homepage.css" th:href="@{/css/homepage.css}">
</head>
<body>
<nav v-bind:class="{'navbar-transparent':isTransP, 'navbar-default':!isTransP}" class="navbar navbar-fixed-top" role="navigation" id="menu-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left"  href="#"><img class="img-logo" th:src="@{/static/images/Hibernia-Sino-logo.png}"></a>
            <a class="navbar-brand" href="#">Hibernia-Sino</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#ad-carousel">综述</a></li>
                <li><a href="#formEnter">功能</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">特点 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">第一部分菜单头部</li>
                        <li><a href="#feature-tab" data-tab="tab-chrome">Chrome</a></li>
                        <li><a href="#feature-tab" data-tab="tab-firefox">Firefox</a></li>
                        <li><a href="#feature-tab" data-tab="tab-safari">Safari</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">第二部分菜单头部</li>
                        <li><a href="#feature-tab" data-tab="tab-opera">Opera</a></li>
                        <li><a href="#feature-tab" data-tab="tab-ie">IE</a></li>
                    </ul>
                </li>
                <li><a href="#about"    >关于</a></li>
            </ul>
            <ul id="enre" class="nav navbar-nav navbar-right">
                <li v-if="!isLogin" ><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li v-if="!isLogin"><a @click="isLogin = true" href="#"  ><span class="glyphicon glyphicon-log-in" ></span> 登录</a></li>
                <li v-else><a th:text="${name}" href="#"><span class="glyphicon glyphicon-user"></span><span th:text="${name}"> Fxoy </span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron" id="company" th:style="'background-image:url('+ @{/static/images/homePage/slide6.jpg} + ');'" >
    <div id="mengban">
    </div>
    <div class="container" id = "company-screen" >
        <h1>Welcome to Hibernia Sino！</h1>
        <p>A travel insurance company</p>
        <p><a class="btn btn-primary btn-lg" role="button">
            了解更多</a>
        </p>
    </div>
</div>

<div id="ad-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#ad-carousel" data-slide-to="1"></li>
        <li data-target="#ad-carousel" data-slide-to="2"></li>
        <li data-target="#ad-carousel" data-slide-to="3"></li>
        <li data-target="#ad-carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img th:src="@{/static/images/homePage/slide1.jpg}" alt="1 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Hibernia-Sino</h1>

                    <p>Google Chrome，又称Google浏览器，是一个由Google（谷歌）公司开发的网页浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.google.cn/intl/zh-CN/chrome/browser/"
                          role="button" target="_blank">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide2.jpg}" alt="2 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Firefox</h1>

                    <p>Mozilla Firefox，中文名通常称为“火狐”或“火狐浏览器”，是一个开源网页浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.firefox.com.cn/download/" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide3.jpg}" alt="3 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Safari</h1>

                    <p>Safari，是苹果计算机的最新操作系统Mac OS X中的浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.apple.com/cn/safari/" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide4.jpg}" alt="4 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Opera</h1>

                    <p>Opera浏览器，是一款挪威Opera Software ASA公司制作的支持多页面标签式浏览的网络浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.opera.com/zh-cn" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide6.jpg}" alt="5 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>IE</h1>

                    <p>Internet Explorer，简称 IE，是微软公司推出的一款网页浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://ie.microsoft.com/" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad-carousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="margin"></div>
<div id="formEnter" class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="caption" id="title">
                <strong><h1>Travel Insurance</h1></strong>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="#" class="thumbnail" v-on:mouseover="a=true" @mouseout="a=false" v-bind:class="{  'enter-shadow': a}">
                <img th:src="@{/static/images/homePage/people1.jpg}" style="height: 360px; width: 100%; display: block;" alt="">
            </a>
            <div class="caption text-center" style="margin-top: 30px" >
                <h3>Purchase Insurance</h3>
                <p style="margin-top: 20px">我们提供三分钟的快速投保方式,以及提供易懂的投保流程说明图</p>
                <p>
                    <a href="##" class="btn btn-primary">Insure</a>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="#" class="thumbnail" v-on:mouseover="b=true" @mouseout="b=false" v-bind:class="{  'enter-shadow': b}">
                <img alt="100%x180" th:src="@{/static/images/homePage/people2.jpg}" style="height: 360px; width: 100%; display: block;">
            </a>
            <div class="caption text-center " style="margin-top: 30px">
                <h3>Insurance Claim</h3>
                <p style="margin-top: 20px">我们提供三分钟的简单而又快捷的索赔方式,以及提供易懂的索赔流程说明图</p>
                <p>
                    <a href="##" class="btn btn-primary">Claim</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="testBefore"></div>
<div class="fixedBg" th:style="'background-image:url('+ @{/static/images/homePage/slide6.jpg} + ');'"></div>
<div class="testAfter"></div>

<div class="jumbotron" style="background-color: white">
    <div  id="Fxc" style="width: 100%; height:600px;" >
        <div class="col-xs-12 col-md-12">
            <div class="container" id="title">
                <strong><h1>Item Entry</h1></strong>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 entry-img">

            <img th:src="@{/static/images/homePage/slide3.jpg}" style="height: 360px; width: 360px;"  v-on:mouseover="a=true" @mouseout="a=false" class="img-circle center-block img-thumbnail" v-bind:class="{  'circle-shadow': a}" >
            <div class="caption text-center">

                <h3>Bootstrap 编码规范</h3>
                <p>by @mdo</p>
                <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>

            </div>

        </div>
        <div  class="col-xs-12 col-md-4 entry-img">

            <img   th:src="@{/static/images/homePage/people2.jpg}" style="height: 360px; width: 360px;" v-on:mouseover="b=true" @mouseout="b=false" class="img-circle center-block img-thumbnail" v-bind:class="{  'circle-shadow': b}"  >
            <div class="caption text-center">

                <h3>{{ a }} {{ b }} {{ d }}</h3>
                <input type="button" v-on:click="d=scrollY"  value="change">
                <p>by @mdo</p>
                <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>

            </div>

        </div>
        <div class="col-xs-12 col-md-4 entry-img">

            <img th:src="@{/static/images/homePage/slide2.jpg}" style="height: 360px; width: 360px;" v-on:mouseover="c=true" @mouseout="c=false" class="img-circle center-block img-thumbnail" v-bind:class="{  'circle-shadow': c}" >
            <div class="caption text-center">

                <h3>Bootstrap 编码规范</h3>
                <p>by @mdo</p>
                <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>

            </div>
        </div>
    </div>
</div>

<div class="testBefore"></div>
<div class="fixedBg" th:style="'background-image:url('+ @{/static/images/homePage/slide6.jpg} + ');'"></div>
<div class="testAfter"></div>

<div id="ad-feedback" class="carousel slide" data-ride="carouse2" style="width: 100%; height: 400px;">
    <ol class="carousel-indicators">
        <li data-target="#ad-feedback" data-slide-to="0" class="active"></li>
        <li data-target="#ad-feedback" data-slide-to="1"></li>
        <li data-target="#ad-feedback" data-slide-to="2"></li>
        <li data-target="#ad-feedback" data-slide-to="3"></li>
        <li data-target="#ad-feedback" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img th:src="@{/static/images/homePage/slide1.jpg}" alt="1 slide">

            <div class="container">
                <div class="feedback-caption">
                    <h3>Feedback</h3>

                    <p>Google Chrome，又称Google浏览器，是一个由Google（谷歌）公司开发的网页浏览器。</p>
                    <img src="/wp-content/uploads/2014/06/download.png" class="img-circle">
                    <p>Fxoy</p>

                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide2.jpg}" alt="2 slide">

            <div class="container">
                <div class="feedback-caption">
                    <h1>Firefox</h1>

                    <p>Mozilla Firefox，中文名通常称为“火狐”或“火狐浏览器”，是一个开源网页浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.firefox.com.cn/download/" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide3.jpg}" alt="3 slide">

            <div class="container">
                <div class="feedback-caption">
                    <h1>Safari</h1>

                    <p>Safari，是苹果计算机的最新操作系统Mac OS X中的浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.apple.com/cn/safari/" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide4.jpg}" alt="4 slide">

            <div class="container">
                <div class="feedback-caption">
                    <h1>Opera</h1>

                    <p>Opera浏览器，是一款挪威Opera Software ASA公司制作的支持多页面标签式浏览的网络浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://www.opera.com/zh-cn" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img th:src="@{/static/images/homePage/slide6.jpg}" alt="5 slide">

            <div class="container">
                <div class="feedback-caption">
                    <h1>IE</h1>

                    <p>Internet Explorer，简称 IE，是微软公司推出的一款网页浏览器。</p>

                    <p><a class="btn btn-lg btn-primary" href="http://ie.microsoft.com/" target="_blank"
                          role="button">点我下载</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#ad-feedback" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad-feedback" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div id="about" class="row" style="margin-top: 200px; width: 100%; height:100%;">
    <div class="col-xs-12 col-md-4" style="height: 450px; margin-bottom: 100px">
        <img th:src="@{/static/images/homePage/people2.jpg}" style="height: 450px; width: 100%; box-shadow:0px 5px 8px 5px #ccc; " class="img-rounded"  >

    </div>

    <div class="col-xs-12 col-md-8" style="height: 450px; margin-bottom: 100px">
        <div class="container" style=" margin: 0px; padding: 0px; background-color: dodgerblue;">
        </div>
    </div>



    <div class="col-xs-12 col-md-8" style="height: 450px; margin-bottom: 100px">
        <div class="container" style=" margin: 0px; padding: 0px; background-color: dodgerblue;">
        </div>
    </div>
    <div class="col-xs-12 col-md-4" style="height: 450px; margin-bottom: 100px">
        <img th:src="@{/static/images/homePage/people2.jpg}" style="height: 450px; width: 100%; box-shadow:0px 5px 8px 5px #ccc; " class="img-rounded"  >
    </div>





    <div class="col-xs-12 col-md-4" style="height: 450px; margin-bottom: 100px">
        <img th:src="@{/static/images/homePage/people2.jpg}" style="height: 450px; width: 100%; box-shadow:0px 5px 8px 5px #ccc; " class="img-rounded"  >
    </div>

    <div class="col-xs-12 col-md-8" style="height: 450px; margin-bottom: 100px">
        <div class="container" style=" margin: 0px; padding: 0px; background-color: dodgerblue;">
        </div>
    </div>


</div>

<footer class="back">

    <div class="center-block end"><img class="center-block" style="height: 200px; width: 350px" th:src="@{/static/images/Hibernia-Sino-logo-white.png}"></div>

    <div class="link"  ><img  style="height: 50px; width: 50px" th:src="@{/static/images/homePage/facebook.png}">
        <img  style="height: 50px; width: 50px" th:src="@{/static/images/homePage/twitter.png}">
        <img  style="height: 50px; width: 50px" th:src="@{/static/images/homePage/git.png}"></div>
    <h3>Contact Phone: +86 186-4506-7431 | +86 147-4220-7617</h3>
</footer>
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script th:src="@{/static/js/home.js}"></script>
</body>
</html>