<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="FG-TEAM">
    <meta name="theme-color" content="#1d2d44">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-touch.png">
    <link rel="mask-icon" sizes="any" href="/images/favicon-mask.svg">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/floating-labels.css" th:href="@{/css/floating-labels.css}">
    <style>body {color: #fff; background-image: url(/images/login/background.jpg);}</style>
</head>
<body>
<noscript>
    <div>
        <div>
            This application requires JavaScript for correct operation. Please <a href="http://enable-javascript.com/" target="_blank" rel="noreferrer">enable JavaScript</a> and reload the page.</div>
    </div>
</noscript>
<form class="form-signin" id="form-signin">
    <div class="text-center mb-4">
        <h1>Hibernia-Sino</h1>
    </div>
    <div class="text-center mb-4">
        <h1>Sign in</h1>
    </div>
    <div class="form-label-group mb-4">
        <input v-on:keyup.enter="login" type="text" id="inputUsername" class="form-control" placeholder="Username or email address" v-model="loginForm.username" required autofocus>
        <label for="inputUsername">Username or email address</label>
        <div class="form-text invalid-feedback" style="width: 100%;">Please input username or email address.</div>
    </div>

    <div class="form-label-group mb-4">
        <input v-on:keyup.enter="login" type="password" id="inputPassword" class="form-control" placeholder="Password" v-model="loginForm.password" required>
        <label for="inputPassword">Password</label>
        <div class="form-text invalid-feedback" style="width: 100%;">Please input your password.</div>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" v-model="loginForm.rem"> Remember me
        </label>
    </div>
    <div class="form-row">
        <div class="col-6 dropdown mb-3">
            <a class="btn btn-secondary btn-block dropdown-toggle" href="#" role="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Change language
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="?lang=en_US">English</a>
                <a class="dropdown-item" href="?lang=zh_CN">Chinese</a>
            </div>
        </div>
        <div class="text-center col-6 mb-3">
            <a class="btn btn-link" th:href="@{/register/customer}" role="button">Sign up</a>
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="button" @click="login()">Sign in</button>
</form>
<footer>
</footer>
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../../static/js/login/customer.js" th:src="@{/js/login/customer.js}"></script>
</body>
</html>
