
/*
*                       _oo0oo_
*                      o8888888o
*                      88" . "88
*                      (| -_- |)
*                      0\  =  /0
*                    ___/`---'\___
*                  .' \|     |// '.
*                 / \|||  :  |||// \
*                / _||||| -:- |||||- \
*               |   | \  -  /// |   |
*               | \_|  ''\---/''  |_/ |
*               \  .-\__  '-'  ___/-. /
*             ___'. .'  /--.--\  `. .'___
*          ."" '<  `.___\_<|>_/___.' >' "".
*         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
*         \  \ `_.   \_ __\ /__ _/   .-` /  /
*     =====`-.____`.___ \_____/___.-`___.-'=====
*                       `=---='
*
*     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*               Buddha Bless:  "No Bugs"
*
* ========================================================= */



body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}


/*.navbar-light{*/

    /*margin: 0px;*/
    /*box-shadow:12px 6px 12px 6px #ccc;*/
/*}*/



/*.navbar-light .navbar-brand:hover,*/
/*.navbar-light .navbar-brand:focus {*/
    /*border-radius: 0px 0px 5px 5px;*/
    /*background-color: rgba(234, 234, 234, 0.58);*/
    /*transition-duration: 0.7s;*/

/*}*/



/*.navbar-light .navbar-nav > li > a:hover,*/
/*.navbar-light .navbar-nav > li > a:focus {*/
    /*border-radius: 0px 0px 5px 5px;*/
    /*background-color: rgba(234, 234, 234, 0.58);*/
    /*transition-duration: 0.7s;*/
/*}*/

/*.navbar-light .navbar-nav > li > .dropdown {*/
    /*border-radius: 0px 0px 8px 8px;*/

/*}*/


.dropdown-item:hover{
    background-color: rgba(234, 234, 234, 0.58);
    transition-duration: 0.8s;
}
.dropdown-item{
    color: rgba(0,0,0,.5)
}

.img-logo {
    margin-top: -10px;
    width: 60px;
    height: 40px;
}

.main-whole{
    width: 100%;
    min-height: 1000px;
    height: auto;
    background-color: whitesmoke;
}
.main-page{
    margin-top: 100px;
    padding-bottom: 80px;
    margin-bottom: 100px;
    min-height: 900px;
    height: auto;
    background-color: white;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 24px #ccc;
}

.title-div{
    padding-top: 50px;
    margin-bottom: 30px;
}
#claim-title{
    font-weight: bolder;


}
.marginUnder{
    margin-bottom: 40px;
}

.col-form-label{
    margin-right: 2%;
}
.form-body{
    margin-bottom: 20px;
}
.form-submit{
    margin-left: 45%;
}
.input-group{
    padding: 0;
}
.infMargin{
    margin-top: 10px;
}
.orderNum{
    color:#007bff;
}
.orderMon{
    color:#ffc107;
}
.ul-inf-button li{
    display:inline-block;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.step-button{
    width: 160px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

/*   Vue Animation  */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media (max-width: 768px) {

    .form-submit{
        margin-left:0px;
    }
    .main-page{
        margin-top: 100px;
        padding-bottom: 80px;
        min-height: 900px;
        height: auto;
        background-color: white;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 24px #ccc;
    }
    #search{
        width: 100%;
    }
    .ul-inf-button {
        padding: 0;
    }
    .ul-inf-button li button
    {
        width: 100%;
    }
    .step-button{
        width: 100%;
    }
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }
}

.upload-file .btn{
    padding: 10px;
    margin: 0 5px 0 5px;
}

.upload-file .btn.btn-sm{
    padding: 10px;
    margin: unset;
}

.dropdown-country-flagsbutton {
    background: url('/images/flags.png') no-repeat 0 0;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 24px 3876px;
    width: 24px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 9px;
    margin: 0;
}