<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Create your account</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="FG-TEAM">
    <meta name="theme-color" content="#1d2d44">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-touch.png">
    <link rel="mask-icon" sizes="any" href="/images/favicon-mask.svg">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customer-register.css">
</head>
<body>
<div class="fromcontainer">
    <div class="formframe col-md-8 order-md-1">
        <div id="progress" class="progress" style="height: 0.5rem; opacity: 0;">
            <div class="progress-bar" role="progressbar">
                <span class="inner"></span>
            </div>
        </div>
        <div class="frompadding" id="signup-form">
            <transition name="slide-fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</div>
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/js/bootstrap-material-design.min.js" th:src="@{/js/bootstrap-material-design.js}"></script>
<script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../../static/js/vue-router.js" th:src="@{/js/vue-router.js}"></script>
<script src="../../static/js/register/register.js" th:src="@{/js/register/register.js}"></script>
</body>
</html>