<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v-show="http://www.w3.org/1999/xhtml" xmlns:v-html="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>申请新的理赔</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/claim/stepModel.css}" href="../../static/css/claim/stepModel.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/claim/claimStep.css}" href="../../static/css/claim/claimStep.css" rel="stylesheet" type="text/css">
    <link th:href="@{/libs/MDB/css/mdb.css}" href="../../static/libs/MDB/css/mdb.css" rel="stylesheet" type="text/css">
    <link th:href="@{/libs/fileUpload/css/fileinput.css}" href="../../static/libs/fileUpload/css/fileinput.css" media="all" rel="stylesheet" type="text/css">
    <link th:href="@{/libs/fontawesome-5.8.1/css/all.min.css}" href="../../static/libs/fontawesome-5.8.1/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<script>
    let navbar_indicator_template =
        '<ul class="navbar-nav nav-flex-icons">' +
        '<li class="nav-item avatar dropdown">' +
        '<a class="nav-link dropdown-toggle" id="avatarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
        '{{username}}' +
        '<img v-bind:src="avatarPath" style="width: 40px;height: 40px; margin-left: 5px;" class="rounded-circle z-depth-0" alt="avatar image">' +
        '</a>' +
        '<div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatarDropdown">' +
        '<a class="dropdown-item" href="#">仪表板</a>' +
        '<a class="dropdown-item" href="#">账户</a>' +
        '<div class="dropdown-divider"></div>' +
        '<a class="dropdown-item" href="/logout">退出</a>' +
        '</div>' +
        '</li>' +
        '</ul>';
</script>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white" id="menu-nav">
    <a class="navbar-brand navbar-left"  href="#"><img class="img-logo" th:src="@{/images/Hibernia-Sino-logo.png}"></a>
    <a class="navbar-brand " href="#" style="color: black">Hibernia-Sino</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#insurance">保险</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#claim">理赔</a>
                </li>
            </ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="color: black" aria-haspopup="true" aria-expanded="false">
                    Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-header">Insurance</div>
                    <a href="#feature-tab" class="dropdown-item">Fast</a>
                    <a href="#feature-tab" class="dropdown-item">Cheap</a>
                    <a href="#feature-tab" class="dropdown-item">Convenient</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Claim</div>
                    <a href="#feature-tab" class="dropdown-item">Cheap</a>
                    <a href="#feature-tab" class="dropdown-item">Convenient</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" style="color: black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    语言
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="?lang=en-US" class="dropdown-item">英语</a>
                    <div class="dropdown-divider"></div>
                    <a href="?lang=zh-CN" class="dropdown-item">中文</a>
                </div>
            </li>
        </ul>
        <navbar-indicator v-bind:username="username"></navbar-indicator>
    </div>
</nav>

<div class="main-whole">
    <div class="main-page col-md-9">
        <div class="text-center title-div">
            <h1 id="claim-title">申请理赔</h1>
            <h3>为了使我们更好的为您服务，请按照如下步骤申请理赔。</h3>
        </div>
        <form id="form-frame" class="form cf">
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="nav-link " v-bind:class="{'active': step>=1}">
                <span class="round-tab">
                  <i class="fa fa-book"></i>
                </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="nav-link" v-bind:class="{'active': step>=2,'disabled': step<2}">
                <span class="round-tab">
                  <i class="fas fa-search"></i>
                </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3" class="nav-link " v-bind:class="{'active': step>=3,'disabled': step<3}">
                <span class="round-tab">
                  <i class="fa fa-info"></i>
                </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4" class="nav-link" v-bind:class="{'active': step>=4,'disabled': step<4}">
                <span class="round-tab">
                  <i class="fa fa-upload"></i>
                </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5" class="nav-link" v-bind:class="{'active': step>=5,'disabled': step<5}">
                <span class="round-tab">
                  <i class="fa fa-check"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div  v-bind:class="{'active': step==1}" class="tab-pane" role="tabpanel" id="step1">
                        <div class="marginUnder"><h1 class="text-md-center">协议</h1></div>
                        <div  class="container-fluid form-body">
                            <div></div>
                        </div>
                        <div class="text-md-center ul-inf-button">
                            <li class="col-md-4"><button id="clause" type="button" v-on:click="step+=1" class="btn btn-lg btn-primary step-button">同意</button></li>
                        </div>
                    </div>
                    <div v-bind:class="{'active': step==2}" class="tab-pane" role="tabpanel" id="step2">
                        <div class="marginUnder"><h1 class="text-md-center">你的保险单</h1></div>
                        <div class="container-fluid form-body">
                            <transition name="fade">
                                <div class="col-xs-8 form-group row" v-show="isSearch===222">
                                    <div  class="alert alert-danger col-center-block">
                                        <strong>此保险单无效</strong>请重新输入信息
                                    </div>
                                </div>
                            </transition>
                            <form class="needs-validation" novalidate>
                                <div class="form-group row">
                                    <label class="col-form-label col-xs-8 col-md-3" for="firstName">First Name:</label>
                                    <div class="col-md-8">
                                        <input v-model="submit.firstName" type="text" class="form-control  col-xs-8 col-md-12" id="firstName" placeholder="Enter First Name" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid first name
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-xs-8 col-md-3" for="lastName">Last Name:</label>
                                    <div class="col-md-8">
                                        <input v-model="submit.lastName" type="text" class="form-control  col-xs-8 col-md-12" id="lastName" placeholder="Enter Last Name" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid last name
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-xs-8 col-md-3" for="zipCode">Zip Code:</label>
                                    <div class="col-md-8">
                                        <input v-model="submit.zipCode" type="text" class="form-control  col-xs-8 col-md-12" id="zipCode" placeholder="Enter Zip Code" required>
                                        <div class="invalid-feedback">
                                            Please enter a valid zip code
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-xs-8 col-md-3" for="policyNum">Policy Number:</label>
                                    <div class="col-md-8">
                                        <input v-model="submit.policyNum" type="text" class="form-control  col-xs-8 col-md-12" id="policyNum" placeholder="Enter Policy Number" required>
                                        <div class="invalid-feedback">
                                            Please enter a valid policy number
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label col-xs-8 col-md-3" for="phone">Phone Number:</label>
                                    <div class="col-md-8" style="display: flex;">
                                        <div class="input-group-prepend">
                                            <div class="dropdown">
                                                <button class="btn btn-md dropdown-toggle" type="button" id="dropdownCountryBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0;">
                                                    <span style="padding-right: 10px;"><div id="flagBtn" class="dropdown-country-flagsbutton" style="background-position: -1px -2670px;"></div></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownCountryBtn">
                                                    <a class="dropdown-item dropdown-country-relative" href="#">
                                                        <div class="dropdown-country-flags" style="background-position: -1px -2670px;"></div>
                                                        <div class="dropdown-country-words">Ireland<span class="dropdown-country-number">+353</span></div>
                                                    </a>
                                                    <a class="dropdown-item dropdown-country-relative" href="#">
                                                        <div class="dropdown-country-flags" style="background-position: -1px -1072px;"></div>
                                                        <div class="dropdown-country-words">China<span class="dropdown-country-number">+86</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <input v-model="submit.phone" type="tel" class="form-control" id="phone"  placeholder="Phone number" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid phone number
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin: 0px auto;display: table;">
                                    <button id="search" class="btn btn-lg btn-primary step-button" type="button" >Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div v-bind:class="{'active': step==3}" class="tab-pane" role="tabpanel" id="step3">
                        <div class="marginUnder"> <h1 class="text-md-center">Confirm</h1></div>
                        <div class="Fxc">
                            <div  id="accordion" >
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <a class="card-link  text-white" data-toggle="collapse" href="#collapseOne">
                                            Policy information
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <!--<div class="dateStart">-->
                                                <div class="infMargin insurnInf col-xs-12 col-md-3">Start Data:</div>
                                                <div  class="infMargin col-md-4" >{{ info.startDate }}</div>
                                            </div>
                                            <div class="row">
                                                <!--</div>-->
                                                <!--<div class="dateEnd">-->
                                                <div class="infMargin insurnInf col-xs-12 col-md-3">End Date:</div>
                                                <div class="infMargin col-md-4">{{ info.endDate }}</div>
                                                <!--</div>-->
                                            </div>

                                            <div class="row">
                                                <!--<div class="destination">-->
                                                <div class="infMargin insurnInf col-xs-12 col-md-3">Destination:</div>
                                                <div class="infMargin col-md-4">{{ info.destination }}</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="method">-->
                                                <div class="infMargin insurnInf col-xs-12 col-md-3">Beneficiary:</div>
                                                <div class="infMargin col-md-4">{{ info.method }}</div>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <a class="collapsed card-link  text-white " data-toggle="collapse" href="#collapseTwo">
                                            Policyholder information
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Name:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.name }}</div>
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Gender:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.gender }}</div>
                                            </div>

                                            <div class="row">
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Type:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.idType }}</div>
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Number:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.idNum }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Birthday:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.birthDay }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Phone:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.phone }}</div>
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Email:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.email }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Country:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.country }}</div>
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">City:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.city }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="infMargin insurnInf col-xs-12 col-md-2">Zip:</div>
                                                <div class="infMargin col-xs-12 col-md-4">{{ info.zipCode }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-md-center ul-inf-button">
                            <li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>
                            <li class="col-md-4"><button type="button" v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Next</button></li>
                        </div>

                    </div>
                    <div v-bind:class="{'active': step==4}" class="tab-pane" role="tabpanel" id="step4">
                        <div class="marginUnder"><h1 class="text-md-center">Your details</h1></div>
                        <div class="container-fluid form-body">
                            <transition name="fade">
                                <div class="col-xs-8 form-group row" v-show="claimSubErr===222" >
                                    <div class="alert alert-danger" style="width: 100%;">
                                        <strong>No photos!</strong> Please upload photos again.
                                    </div>
                                </div>
                            </transition>
                            <form class="needs-validation" novalidate>
                                <div class="container-fluid">
                                    <div class="form-group row">
                                        <label class="col-form-label col-xs-8 col-md-3" for="itemType">Item Type:</label>
                                        <div class="col-md-8">
                                            <select v-model="claimSubmit.itemType" class=" form-control custom-select col-xs-8 col-md-12" id="itemType" required>
                                                <option selected value="cloth">cloth</option>
                                                <option value="digital-product">digital product</option>
                                                <option value="document">document</option>
                                            </select>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Please enter a valid item type
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-xs-8 col-md-3" for="itemName">Item Name:</label>
                                        <div class="col-md-8">
                                            <input v-model="claimSubmit.itemName" type="text" class="form-control  col-xs-8 col-md-12 " id="itemName" placeholder="Ipad Pro 11.9" required>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Please enter a valid item name
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-xs-8 col-md-3" for="itemName">Item Price:</label>
                                        <div class="col-md-8">
                                            <input v-model="claimSubmit.itemPrice" type="text" class="form-control  col-xs-8 col-md-12 " id="itemPrice" placeholder="500/666.0/999.00" required>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Please enter a valid item price
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-xs-8 col-md-3" for="itemDesc">Item Description:</label>
                                        <div class="col-md-8">
                                            <textarea  v-model="claimSubmit.itemDescription" class="form-control col-xs-8 col-md-12" id="itemDesc" placeholder="" required></textarea>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Please enter a valid item describe
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-xs-8 col-md-3" for="itemEmail">Email:</label>
                                        <div class="col-md-8">
                                            <input v-model="claimSubmit.contactEmail" type="email" class="form-control col-xs-8 col-md-12" id="itemEmail" placeholder="123@example.com" required>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Please enter a valid email
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row upload-file">
                                    <label class="col-form-label col-md-4">Item Photo:</label>
                                    <div class="col-sm-12 col-md-12">
                                        <input class="is-invalid" id="input-id" name="file" multiple="multiple" type="file" data-show-caption="true" data-theme="fas" required>
                                        <div class="form-control invalid-feedback" style="width: 100%;">
                                            Please submit photo
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="text-md-center ul-inf-button">
                            <li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>
                            <li class="col-md-4"><button type="button" id="submit" class="btn btn-lg btn-primary step-button">Submit</button></li>
                        </div>
                    </div>

                    <div  v-bind:class="{'active': step==5}" class="tab-pane" role="tabpanel" id="step5">
                        <div class="marginUnder">
                            <div class="alert alert-primary">
                                Current Status
                                <h1 style="color: #155724;"><strong>Claim is being accepted</strong></h1>
                                The system has automatically initiated the claim settlement, and the claim payment will be paid to the seller's alipay account through alipay or the reserved bank card number within 72 hours after the approval.
                            </div>
                        </div>
                        <div id="claimOrder">
                            <div class="card ">
                                <div class="card-header bg-primary">
                                    <a class="card-link text-white" data-toggle="collapse" href="#collapse1">
                                        Claim Informaion
                                    </a>
                                </div>
                                <div id="collapse1" class="collapse show" data-parent="#claimOrder">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div class="infMargin insurnInf col-xs-12 col-md-6">Claim Order No： </div>
                                            <div class="orderNum infMargin col-md-6">{{claimOrder.claimOrderNum}}</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="dateEnd">-->
                                            <div class="infMargin insurnInf col-xs-12 col-md-6">Estimated Compensation： </div>
                                            <div class="orderMon infMargin col-md-6">{{result.claimOrderPrice}} <a href="#" v-on:click="showDetail = !showDetail">Details</a></div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div v-show::="showDetail" id="detail" class="card ">
                                    <div class="card-header bg-primary">
                                        <a class="card-link  text-white"  data-toggle="collapse" href="#collapse2">
                                            Compensation Details
                                        </a>
                                    </div>
                                    <div id="collapse2" class="collapse show" data-parent="#claimOrder">
                                        <div class="card-body">
                                            <div class="row">
                                                <!--<div class="dateStart">-->
                                                <div class="infMargin insurnInf col-xs-12 col-md-6">Item Type： </div>
                                                <div class="orderNum infMargin col-md-6">{{claimSubmit.itemType}}</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="dateEnd">-->
                                                <div  class="infMargin insurnInf col-xs-12 col-md-6">Item Price： </div>
                                                <div class="orderMon infMargin col-md-6">${{claimSubmit.itemPrice}}</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="dateEnd">-->
                                                <div  class="infMargin insurnInf col-xs-12 col-md-6">Compensation Ratio： </div>
                                                <div class="orderMon infMargin col-md-6">0.7</div>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <ul class="text-md-center ul-inf-button">
                                <!--<li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>-->
                                <li class="col-md-8"><button type="button"  v-on:click="" class="btn btn-lg btn-primary step-button">Finish</button></li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">File Your Claim</h5>
                <p>Start your claim online, or with the Hibernia-Sino® mobile web. You can also file your claim by calling 800-SF-CLAIM (800-732-5246) 24/7, or contact your agent, if you prefer.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Payments</h5>
                <p>Payments are based on the terms of your policy. State Farm may pay the repairer directly, send payments to your bank account, or send them to you by mail.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->



        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-2">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2019 Copyright:
        <a href="#"> Group3: FG-TEAM</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var clause = [[#{claim.clause}]];
    var message = [[${hello}]];
    var stepBack = [[${step}]];
    // console.log(message);

    /*]]>*/
</script>
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/MDB/js/mdb.js}" src="../../static/libs/MDB/js/mdb.js"></script>
<script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../../static/js/vue-resource.min.js" th:src="@{/js/vue-resource.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/fileUpload/js/plugins/piexif.js}"  src="../../static/libs/fileUpload/js/plugins/piexif.js"></script>
<script type="text/javascript" th:src="@{/libs/fileUpload/js/plugins/sortable.js}" src="../../static/libs/fileUpload/js/plugins/sortable.js"></script>
<script type="text/javascript" th:src="@{/libs/fileUpload/js/fileinput.js}" src="../../static/libs/fileUpload/js/fileinput.js"  ></script>
<script type="text/javascript" th:src="@{/libs/fileUpload/themes/fas/theme.js}" src="../../static/libs/fileUpload/themes/fas/theme.js" ></script>
<!--<script type="text/javascript" th:src="@{/libs/fileUpload/js/locales/zh.js}" src="../../static/libs/fileUpload/js/locales/zh.js" ></script>-->
<script type="text/javascript" th:src="@{/js/claim/claimStep.js}" src="../../static/js/claim/claimStep.js"></script>
</html>