<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v-show="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>Create new claim</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="/css/claim/stepModel.css" rel="stylesheet">
    <link href="/css/claim/step1.css" rel="stylesheet">
    <!--    <link th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navbar-left"  href="#"><img class="img-logo" th:src="@{/static/images/Hibernia-Sino-logo.png}"></a>
    <a class="navbar-brand" href="#">Hibernia-Sino</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Abstract</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Claim</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-header">Insurance</div>
                    <a href="#feature-tab" class="dropdown-item">Fast</a>
                    <a href="#feature-tab" class="dropdown-item">Cheap</a>
                    <a href="#feature-tab" class="dropdown-item">Convenient</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Claim</div>
                    <a href="#feature-tab" class="dropdown-item">Cheap</a>
                    <a href="#feature-tab" class="dropdown-item">Convenient</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="#feature-tab" class="dropdown-item">English</a>
                    <div class="dropdown-divider"></div>
                    <a href="#feature-tab" class="dropdown-item">Chinese</a>
                </div>
            </li>
            <!--<a class="navbar-right" herf="#"><span class="glyphicon glyphicon-user"></span> Register</a>-->
            <!--<a class="navbar-right" herf="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>-->
        </ul>
        <ul id="enre" class="navbar-nav ml-auto">
            <li class="nav-item" ><a class="nav-link" href="#"><i class="fa fa-user fa-fw"></i> Register</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>

        </ul>
    </div>
</nav>

<div class="main-whole">
    <div class="main-page col-xs-8 col-md-8 ">
        <div class="text-center title-div">
            <h1 id="claim-title" >Claim</h1>
            <h3>In order to use this service, you have to complete these processes.</h3>
        </div>

        <form id="form-frame" class="form cf">

            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="nav-link " v-bind:class="{  'active': step>=1}">
                  <span class="round-tab">
                    <i class="fa fa-book"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="nav-link" v-bind:class="{'active': step>=2,'disabled': step<2}">
                  <span class="round-tab">
                    <i class="fa fa-pencil-square-o"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3" class="nav-link " v-bind:class="{'active': step>=3,'disabled': step<3}">
                  <span class="round-tab">
                    <i class="fa fa-info"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4" class="nav-link" v-bind:class="{'active': step>=4,'disabled': step<4}">
                  <span class="round-tab">
                    <i class="fa fa-upload"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5" class="nav-link" v-bind:class="{'active': step>=5,'disabled': step<5}">
                  <span class="round-tab">
                    <i class="fa fa-check"></i>
                  </span>
                            </a>
                        </li>
                    </ul>
                </div>




                <div class="tab-content">
                    <div v-bind:class="{  'active': step==2}" class="tab-pane " role="tabpanel" id="step2">
                        <div class="marginUnder"><h1 class="text-md-center">Step 2</h1></div>
                        <div class="container-fluid form-body">

                            <form>

                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="firstName">First Name:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="firstName" placeholder="Enter First Name" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid first name
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="lastName">Last Name:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="lastName" placeholder="Enter Last Name" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid last name
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="zipCode">Zip Code:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="zipCode" placeholder="Enter Zip Code" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid zip code
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="policyNum">Policy Number:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="policyNum" placeholder="Enter Policy Number" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid policy number
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="phone">Phone Number:</label>
                                    <div class="input-group col-xs-8 col-md-4">
                                        <div class="input-group-prepend">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownCountryBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span style="padding-right: 20px;"><div id="flagBtn" class="dropdown-country-flagsbutton" style="background-position: -1px -2670px;"></div></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownCountryBtn">
                                                    <a class="dropdown-item dropdown-country-relative" href="#">
                                                        <div class="dropdown-country-flags" style="background-position: -1px -2670px;"></div>
                                                        <div class="dropdown-country-words">Ireland<span class="dropdown-country-number">+353</span></div>
                                                    </a>
                                                    <a class="dropdown-item dropdown-country-relative" href="#">
                                                        <div class="dropdown-country-flags" style="background-position: -1px -1072px;"></div>
                                                        <div class="dropdown-country-words">China<span class="dropdown-country-number">+86</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="tel" class="form-control" id="phone"  placeholder="Phone number" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid phone number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <input class="btn btn-lg btn-primary form-submit step-button" type="button" v-on:click="step+=1" value="Search">
                                </div>

                            </form>

                        </div>
                    </div>
                    <div v-bind:class="{  'active': step==3}" class="tab-pane" role="tabpanel" id="step3">
                        <div class="marginUnder"> <h1 class="text-md-center">Step 3</h1></div>
                        <div id="accordion">
                            <div class="card ">
                                <div class="card-header bg-primary">
                                    <a class="card-link  text-white" data-toggle="collapse" href="#collapseOne">
                                        保单基本信息
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">保险起期： </div>
                                            <div class="infMargin col-md-4">2019-03-29 0时起</div>
                                            <!--</div>-->
                                            <!--<div class="dateEnd">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">保险止期： </div>
                                            <div class="infMargin col-md-4">2019-03-29 24时起</div>
                                            <!--</div>-->
                                        </div>

                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin  insurnInf col-xs-12 col-md-2">旅游目的地：</div>
                                            <div class="infMargin col-md-4">爱尔兰 Ireland</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="method">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">收益方式： </div>
                                            <div class="infMargin col-md-4">法定继承人</div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-primary">
                                    <a class="collapsed card-link  text-white " data-toggle="collapse" href="#collapseTwo">
                                        投保人信息
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">姓名： </div>
                                            <div class="infMargin col-xs-12 col-md-4">谷雨</div>
                                            <!--</div>-->
                                            <!--<div class="dateEnd">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">性别： </div>
                                            <div class="infMargin col-xs-12 col-md-4">男</div>
                                            <!--</div>-->
                                        </div>

                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">证件类型： </div>
                                            <div class="infMargin col-xs-12 col-md-4">身份证</div>
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">证件号码： </div>
                                            <div class="infMargin col-xs-12 col-md-4">230***********0919</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="method">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">出生日期： </div>
                                            <div class="infMargin col-xs-12 col-md-4">1997-1-08</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">联系电话： </div>
                                            <div class="infMargin col-xs-12 col-md-4">17801120851</div>
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">电子邮箱： </div>
                                            <div class="infMargin col-xs-12 col-md-4">guyu_123@yeah.net</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">所在国家： </div>
                                            <div class="infMargin col-xs-12 col-md-4">中国</div>
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">所在城市： </div>
                                            <div class="infMargin col-xs-12 col-md-4">北京</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">邮编： </div>
                                            <div class="infMargin col-xs-12 col-md-4">100124</div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="text-md-center ul-inf-button">
                            <li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>
                            <li class="col-md-4"><button type="button"  v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Next Step</button></li>
                        </ul>


                    </div>
                    <div   v-bind:class="{  'active': step==4}" class="tab-pane" role="tabpanel" id="step4">
                        <div class="marginUnder"><h1 class="text-md-center">Step 4</h1></div>
                        <div class="row">
                            <div class="container-fluid form-body">
                                <form>

                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemType">物品种类:</label>
                                        <select class=" form-control custom-select col-xs-8 col-md-4" id="itemType" required>
                                            <option selected value="cloth">cloth</option>
                                            <option value="digital-product">digital product</option>
                                            <option value="document">document</option>
                                        </select>
                                        <!--<input type="text" class="form-control  col-xs-8 col-md-4" id="itemType" placeholder="Enter Last Name" required>-->
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid last name-->
                                        <!--</div>-->
                                    </div>


                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemName">丢失物品名称:</label>
                                        <input type="text" class="form-control  col-xs-8 col-md-4" id="itemName" placeholder="如 AJ1 黑脚趾" required>
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid first name-->
                                        <!--</div>-->
                                    </div>

                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " >丢失物品照片:</label>
                                        <div class="input-group col-xs-8 col-md-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="preItemPhoto">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="itemPhoto" aria-describedby="preItemPhoto">
                                                <label class="custom-file-label" for="itemPhoto">Choose file</label>
                                            </div>
                                        </div>
                                        <!--<input type="text" class="form-control  col-xs-8 col-md-4" id="zipCode" placeholder="Enter Zip Code" required>-->
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid zip code-->
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemDesc">丢失物品描述:</label>
                                        <textarea class="form-control  col-xs-8 col-md-4" id="itemDesc" placeholder="" required></textarea>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid policy number
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemEmail">联系邮箱:</label>
                                        <input type="email" class="form-control  col-xs-8 col-md-4" id="itemEmail" placeholder="123@example.com" required>
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid first name-->
                                        <!--</div>-->
                                    </div>

                                    <div class="form-group row">
                                        <!--<input class="btn btn-lg btn-primary form-submit step-button" type="button" v-on:click="step+=1" value="Search">-->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="text-md-center ul-inf-button">
                            <ul class="text-md-center ul-inf-button">
                                <li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>
                                <li class="col-md-4"><button type="button"  v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Submit</button></li>
                            </ul>
                        </ul>
                    </div>
                    <div  v-bind:class="{  'active': step==1}" class="tab-pane" role="tabpanel" id="step1">
                        <div class="marginUnder"><h1 class="text-md-center">Step 1</h1></div>
                        <div class="container-fluid form-body">


                            <p> 服务协议

                                为了您能更好的使用站腾网服务（以下简称：本服务），您应当阅读并遵守《站腾网服务协议》（以下简称:本协议）等相关协议、规则。
                            </p>
                            <p>  1、总则

                            </p>
                            <p>  1.1 站腾网服务（以下简称"本服务"）是由河北站腾网络科技有限公司（以下简称"本公司"）与站腾网用户共同缔结的对双方具有约束力的有效契约。本协议由您和本公司签订。在您注册成为站腾网用户之前，请您务必谨慎阅读、充分理解各条款内容；一旦您选择"同意"并完成注册，说明您已充分阅读、理解并接受本协议的全部内容，即表示您同意遵循本协议之所有约定。

                            </p>
                            <p>1.2 站腾网向用户提供本网站上所展示的产品与服务（下称"站腾网服务"、"本服务"），并将不断更新服务内容，最新的站腾网服务以站腾网网站上的相关云产品及服务介绍的页面展示以及向用户实际提供的为准。
                            </p>
                            <p>    2、站腾网账户

                            </p>
                            <p>  2.1 在使用本服务前，您必须先注册并取得本公司平台提供的站腾网会员账户，在完成注册或激活流程时，您必须同意并保证：

                            </p>
                            <p>  2.1.1 您所填写的用户信息是真实、准确、完整、及时的，且保证站腾网可以通过您所填写的联系方式与您取得联系。

                            </p>
                            <p>  2.1.2 您应根据站腾网对应服务的条例要求及时提供相应的身份证明等资料，否则站腾网有权拒绝向您提供相关服务。

                            </p>
                            <p>  2.1.3 如果您提供的资料或信息包含有不正确、虚假的信息，站腾网将有权向您发出询问或要求改正的通知并保留取消您会员资格并随时结束为您提供服务的权利，站腾网对此不需承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。

                            </p>
                            <p> 2.1.4 您应对您的站腾网会员账户负责，只有您本人可以使用您的站腾网会员账户，该账户具有唯一性，不可转让、不可赠与、不可继承。若因您自身原因致使服务器数据、口令、密码等信息丢失或泄漏等，站腾网对此不需承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。

                            </p>
                            <p>   2.2您须自行负责对您的站腾网账户和密码保密，且须对您在该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议、push服务器或新购等）承担责任。您同意：

                            </p>
                            <p>  2.2.1 如发现任何人未经授权使用您的站腾网账户和密码，或发生违反保密规定的任何其他情况，您会立即通知站腾网，并授权站腾网将该信息同步给站腾网网站。

                            </p>
                            <p>   2.2.2 请确保您在每次登录站腾网平台结束时，以正确步骤退出站腾网平台。本公司不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。

                            </p>
                            <p>   2.2.3 若因您提供的信息不完全，虚假等导致站腾网无法正确核实您的真实身份或站腾网无法正确判断您的需求等，而导致的站腾网无法为您进行及时处理，给您带来的损失，您应自行承担。同时，您理解站腾网对您的请求采取措施需要合理期限，对于您通知站腾网以及站腾网根据您的有效通知采取措施之前，由于他人行为已经给您造成的损失，站腾网不承担任何责任。
                            </p>
                            <p>    3、平台服务使用守则

                                为有效保障您使用本平台服务的合法权益，您理解并同意接受以下规则：

                            </p>
                            <p>   3.1 您通过包括但不限于以下方式向站腾网发出的指令，均视为您本人的指令，不可撤回或撤销，您应自行对站腾网执行前述指令所产生的任何结果承担责任。

                            </p>
                            <p>  3.1.1 通过您的站腾网账户和密码进行的所有操作（包括但不限于云查询提交和删除，云监控提交修改和删除等）；

                            </p>
                            <p>   3.1.2 通过与您的账号绑定的手机号码或邮箱向站腾网发送的全部信息；

                            </p>
                            <p>  3.2 您购买本服务后，仅可供自己使用，不得直接或间接以转让、出售、出租、合作等任何形式，有偿或无偿地将部分或全部的服务提供给他人使用。

                            </p>
                            <p>  3.3 您应在本服务之外，妥善保管自己的账户和密码不向任何人透露，确保其安全性，并对自己的行为所引起的结果承担全部责任。

                            </p>
                            <p>  3.4 您了解并同意本公司单方修改服务的相关规则，而无须征得您的同意，服务规则应以您使用服务时的页面提示为准，您同意并遵照服务规则是您使用本服务的前提。

                            </p>
                            <p> 3.5 在您使用本服务时，本公司有权依照相应的服务收费介绍、订单或相关协议向您收取服务费用。本公司拥有制订及调整服务资费的权利，具体服务资费以您使用本服务时本网站上所列之收费方式公告或您与本公司达成的其他书面协议为准。

                            </p>
                            <p>  3.6 站腾网可能会以手机短信或电子邮件（或电话或QQ等）方式通知您服务进展情况以及提示您进行下一步的操作，但站腾网不保证您能够收到或者及时收到该手机短信或电子邮件（或电话或QQ信息等），且不对此承担任何后果。因此，在服务过程中您应当及时登录到站腾网网站查看和进行交易操作。因您没有及时查看和对服务状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，站腾网不负任何责任。
                            </p>
                            <p>   4、用户权利和义务

                            </p>
                            <p> 4.1 您有权利享受站腾网提供的互联网技术和信息服务，并有权利在接受站腾网提供的服务时获得站腾网的技术支持、咨询等服务，服务内容详见本网站相关产品介绍。

                            </p>
                            <p>  4.2 您保证不会利用技术或其他手段破坏或扰乱本网站及站腾网其他客户的网站。

                            </p>
                            <p>   4.3 您应尊重站腾网及其他第三方的知识产权和其他合法权利，并保证在发生侵犯上述权益的违法事件时尽力保护站腾网及其股东、雇员、合作伙伴等免于因该等事件受到影响或损失；站腾网保留您侵犯站腾网合法权益时终止向您提供服务并不退还任何款项的权利。

                            </p>
                            <p>   4.4 对由于您向站腾网提供的联络方式有误以及您用于接受站腾网邮件的电子邮箱安全性、稳定性不佳而导致的一切后果，您应自行承担责任，包括但不限于因您未能及时收到站腾网的相关通知而导致的后果和损失。

                            </p>
                            <p>  4.5 您保证：

                            </p>
                            <p>  4.5.1.您使用站腾网产品或服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用站腾网提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传或新闻信息；涉及国家秘密或安全的信息；封建迷信或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；妨碍互联网运行安全的信息；侵害他人合法权益的信息或其他有损于社会秩序、社会治安、公共道德的信息或内容;您同时承诺不得为他人发布上述不符合国家规定或本服务条款约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等;

                                您承认站腾网有权在您违反上述约定时有权终止向您提供服务并不予退还任何款项，因您上述行为给站腾网造成损失的，您应予赔偿。 您保证您不会进行任何滥用站腾网资源的行为，一经发现，帐户将会被禁止，帐户余额也不予退回。 您保证注册时使用的手机号码、邮箱、QQ长期有效，一旦发现手机号码过期经通知后还未修改的，将视作无效用户，帐户将会被禁止，帐户余额也不予退回。

                            </p>
                            <p>   4.5.2. 使用站腾网产品或服务时，应遵守您与站腾网签订的服务条款、站腾网在www.zhantengwang.com相关页面上的管理规范、流程、服务说明、价格说明和您确认同意的订购页面的内容，包括但不限于：

                            </p>
                            <p> 4.5.2.1. 您应按时付款或续费；

                            </p>
                            <p>   4.5.2.2. 不应出现任何破坏或试图破坏网络安全的行为等； 如您违反上述保证，站腾网除有权根据相关服务条款采取删除信息、中止服务、终止服务的措施，并有权限制您账户如新购产品或服务、续费等部分或全部功能，如因您上述行为给站腾网造成损失的，您应予赔偿。

                            </p>
                            <p>  4.7 若您使用的某项服务中包含可下载的站腾网软件，则站腾网仅授予您非独占性的、不可转让的、非商业运营目的的个人使用许可。除非站腾网另有明示或与您另有约定外，您不得复制、修改、发布、出售或出租服务或所含软件的任何部分，也不得进行反向工程或试图提取该软件的源代码。
                            </p>
                            <p>     5、站腾网权利和义务

                            </p>
                            <p> 5.1 站腾网应根据您选择的服务以及交纳款项的情况向您提供合格的网络技术和信息服务。

                            </p>
                            <p>  5.2 站腾网承诺对您资料采取对外保密措施，不向第三方披露您资料，不授权第三方使用您资料，除非：

                            </p>
                            <p>   5.2.1 依据本服务条款或者您与站腾网之间其他服务协议、合同、在线条款等规定可以提供；

                            </p>
                            <p>  5.2.2 依据法律法规的规定应当提供；

                            </p>
                            <p> 5.2.3 行政、司法等职权部门要求站腾网提供；

                            </p>
                            <p>  5.2.4 您同意站腾网向第三方提供；

                            </p>
                            <p>   5.2.5 站腾网解决举报事件、提起诉讼而提交的；

                            </p>
                            <p>   5.2.6 站腾网为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；

                            </p>
                            <p>  5.2.7 站腾网为向您提供产品、服务、信息而向第三方提供的，包括站腾网通过第三方的技术及服务向您提供产品、服务、信息的情况。

                            </p>
                            <p>  5.3 站腾网有权根据本服务条款的约定，根据您的服务使用情况，自您的账户余额中直接扣除相关服务费用。

                            </p>
                            <p>  5.4 当存在如下情形之一时，站腾网有权对您名下账户资金的部分或全部进行冻结：

                            </p>
                            <p>  5.4.1 国家法律、法规、政策、法律文书的规定：

                            </p>
                            <p>  5.4.2 国家有权机关要求进行冻结的：

                            </p>
                            <p>   5.4.3 您使用站腾网服务的行为涉嫌违反国家法律法规及行政规定的；

                            </p>
                            <p>   5.4.4 站腾网基于单方面合理判断，认为您的账户操作、资金进出等存在异常时；

                            </p>
                            <p>   5.4.5 他人向您账户错误汇入资金等导致您可能存在不当得利的：

                            </p>
                            <p>    5.4.6 您遭到他人投诉， 且对方已经提供了一定证据的：

                            </p>
                            <p>   5.4.7 站腾网根据自行合理判断，认为可能产生风险的其他情况。 站腾网按照前述规定对您的账户资金进行冻结后，将通过邮件、站内信、短信或电话等方式通知您按照相应的程序进行申诉。如果您按照本服务条款的要求进行申诉并经站腾网审核通过的，站腾网将立即解除资金冻结措施；如果您未在规定时间内进行申请，或您的申诉未能通过站腾网审核的，则您确认站腾网有权长期冻结该资金，或将相关冻结款项按原路退回该笔资金的充值来源账户（包括但不限于银行账户、支付宝账户、微信账户等）。
                            </p>
                            <p>   6、隐私及其他个人信息的保护

                                一旦您同意本服务条款或使用本服务，您即同意站腾网按照以下条款来使用和披露您的个人信息。

                            </p>
                            <p>  6.1 登录名和密码

                                在您注册帐户时，站腾网会要求您设置站腾网账户登录名和密码来识别您的身份，并设置密码提示问题及其答案，以便在您丢失密码时用以确认您的身份。您仅可通过您设置的密码来使用该账户，如果您泄漏了密码，您可能会丢失您的个人识别信息，并可能导致对您不利的法律后果。该账户和密码因任何原因受到潜在或现实危险时，您应该立即和站腾网取得联系，在站腾网采取行动前，站腾网对此不负任何责任。

                            </p>
                            <p>  6.2 用户注册信息

                                您完成账户注册或激活账户时，应向站腾网提供您的真实姓名、地址、国籍、电话号码和电子邮件地址，您还可以选择来填写相关附加信息（包括但不限于您公司所在的省份和城市、时区和邮政编码、传真号码、个人主页和您的职务）。为有针对性地向您提供新的服务和机会，您了解并同意站腾网及其关联公司或您登录的其他网站将通过您的电子邮件地址或该手机通知您这些信息。

                            </p>
                            <p>  6.3 银行账户或其他支付账户信息息

                                若站腾网所提供的服务需要您提供您的银行账户信息，在您提供相应信息后，站腾网将严格履行相关保密约定。

                            </p>
                            <p>  6.4 登录记录

                                为了保障您使用本服务的安全以及不断改进服务质量，站腾网将记录并保存您登录和使用本服务的相关信息，但站腾网承诺不将此类信息提供给任何第三方（除双方另有约定或法律法规另有规定及站腾网关联公司外）。

                            </p>
                            <p>   6.5 广告

                                站腾网会对站腾网用户的身份数据进行综合统计，并出于销售和奖励的需要使用或披露。

                            </p>
                            <p> 6.6 外部链接

                                本网站含有到其他网站的链接，但站腾网对其他网站的隐私保护措施不负任何责任。站腾网可能在任何需要的时候增加商业伙伴或共用品牌的网站。

                            </p>
                            <p>  6.7 安全

                                站腾网仅按现有技术提供相应的安全措施来使站腾网掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其他服务器备份数据和对用户密码加密。尽管有这些安全措施，但站腾网不保证这些信息的绝对安全。
                            </p>
                            <p>   7、系统中断或故障

                                系统可能因下列状况无法正常运作，使您无法使用各项互联网服务时，站腾网不承担损害赔偿责任，该状况包括但不限于：

                            </p>
                            <p>  7.1 站腾网在系统停机维护期间。

                            </p>
                            <p>  7.2 电信设备出现故障不能进行数据传输的。

                            </p>
                            <p>  7.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成站腾网系统障碍不能执行业务的。
                            </p>

                            <p>   7.4 由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。
                            <p>   8、责任范围及责任限制

                            </p>
                            <p> 8.1 站腾网仅对本服务条款中列明的责任承担范围负责。

                            </p>
                            <p>  8.2 本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。

                            </p>
                            <p>  8.3 您了解并同意，因您使用本服务、违反本服务条款或在您的账户下采取的任何行动，而导致的任何第三方索赔，应且仅应由您本人承担。如果由此引起站腾网及其关联公司、员工、客户和合作伙伴被第三方索赔的，您应负责处理，并承担由此造成的全部责任。

                            </p>
                            <p>  8.4 在法律允许的情况下，站腾网对于与本服务条款有关或由本服务条款引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据、商誉或其他经济利益的损失），不论是如何产生的，也不论是由对本服务条款的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本服务条款规定的排他性救济没有达到其基本目的，也应排除站腾网对上述损失的责任。

                            </p>
                            <p>   8.5 除本服务条款另有规定或站腾网与您就某一具体产品及/或服务另有约定外，在任何情况下，您同意站腾网对本服务条款所承担的赔偿责任总额不超过向您收取的当次服务费用总额。
                            </p>
                            <p>   9、完整协议

                            </p>
                            <p>  9.1 本服务条款由本服务条款与本网站公示的各项规则组成，相关名词可互相引用参照，如有不同理解，以本服务条款为准。

                            </p>
                            <p>  9.2 本服务条款的章节标题仅为行文方便而设，不具有法律或合同效力。

                            </p>
                            <p>  9.3 您对本服务条款理解和认同，您即对本服务条款所有组成部分的内容理解并认同，一旦您使用本服务，您和站腾网即受本服务条款所有组成部分的约束。

                            </p>
                            <p>  9.4 本服务条款部分内容被有管辖权的法院认定为违法的，不因此影响其他内容的效力。
                            </p>
                            <p>  10、商标、知识产权

                                本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。

                                非经本公司书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。
                            </p>
                            <p>  11、法律适用与管辖

                                本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并提交本协议签订地有管辖权的人民法院管辖。
                            </p>

                        </div>
                        <ul class="text-md-center ul-inf-button">

                            <li class="col-md-4"><button type="button"  v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Agree</button></li>
                        </ul>
                    </div>
                    <div  v-bind:class="{  'active': step==5}" class="tab-pane" role="tabpanel" id="step5">
                        <div class="marginUnder">
                            <div class="alert alert-primary">
                                当前状态
                                <h1 style="color: #155724;"><strong>理赔受理中</strong></h1>
                                系统已自动发起理赔，审核通过后72小时理赔款将通过支付宝或者预留银行卡号支付到卖家的支付宝账户中。
                            </div>
                        </div>


                        <div id="claimOrder">
                            <div class="card ">
                                <div class="card-header bg-primary">
                                    <a class="card-link  text-white"  data-toggle="collapse" href="#collapse1">
                                        保单详情
                                    </a>
                                </div>
                                <div id="collapse1" class="collapse show" data-parent="#claimOrder">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">订单编号： </div>
                                            <div class="orderNum infMargin col-md-6">816385292874222</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="dateEnd">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">预计获得赔付金额： </div>
                                            <div class="orderMon infMargin col-md-6">11.00元 <a href="#" v-on:click="showDetail = !showDetail">详情</a></div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div v-show::="showDetail" id="detail" class="card ">
                                    <div class="card-header bg-primary">
                                        <a class="card-link  text-white"  data-toggle="collapse" href="#collapse2">
                                            赔付金额详情
                                        </a>
                                    </div>
                                    <div id="collapse2" class="collapse show" data-parent="#claimOrder">
                                        <div class="card-body">
                                            <div class="row">
                                                <!--<div class="dateStart">-->
                                                <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">物品种类： </div>
                                                <div class="orderNum infMargin col-md-6">文件</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="dateEnd">-->
                                                <div  v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">原物品赔付金额： </div>
                                                <div class="orderMon infMargin col-md-6">1.00元</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="dateEnd">-->
                                                <div  v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">保价金额： </div>
                                                <div class="orderMon infMargin col-md-6">10.00元</div>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <ul class="text-md-center ul-inf-button">
                                <!--<li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>-->
                                <li class="col-md-8"><button type="button"  v-on:click="" class="btn btn-lg btn-primary step-button">Finish</button></li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/js/bootstrap-material-design.min.js" th:src="@{/js/bootstrap-material-design.js}"></script>
<script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../../static/js/vue-router.js" th:src="@{/js/vue-router.js}"></script>
<script src="/js/claim/newClaim.js"></script>
</body>
</html>