<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v-show="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>Create new claim</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/claim/stepModel.css" rel="stylesheet" type="text/css">
    <link href="/css/claim/step1.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navbar-left"  href="#"><img class="img-logo" src="/images/Hibernia-Sino-logo.png"></a>
    <a class="navbar-brand" href="#">Hibernia-Sino</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Abstract</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Insurance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Claim</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-header">Insurance</div>
                    <a href="#feature-tab" class="dropdown-item">Fast</a>
                    <a href="#feature-tab" class="dropdown-item">Cheap</a>
                    <a href="#feature-tab" class="dropdown-item">Convenient</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Claim</div>
                    <a href="#feature-tab" class="dropdown-item">Cheap</a>
                    <a href="#feature-tab" class="dropdown-item">Convenient</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="#feature-tab" class="dropdown-item">English</a>
                    <div class="dropdown-divider"></div>
                    <a href="#feature-tab" class="dropdown-item">Chinese</a>
                </div>
            </li>
            <!--<a class="navbar-right" herf="#"><span class="glyphicon glyphicon-user"></span> Register</a>-->
            <!--<a class="navbar-right" herf="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>-->
        </ul>
        <ul id="enre" class="navbar-nav ml-auto">
            <li class="nav-item" ><a class="nav-link" href="#"><i class="fa fa-user fa-fw"></i> Register</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>

        </ul>
    </div>
</nav>

<div class="main-whole">
    <div class="main-page col-xs-8 col-md-8 ">
        <div class="text-center title-div">
            <h1 id="claim-title">Claim</h1>
            <p>In order to use this service, you have to complete these processes.</p>
        </div>
        <form id="form-frame" class="form cf">
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="nav-link " v-bind:class="{  'active': step>=1}">
                  <span class="round-tab">
                    <i class="fa fa-book"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="nav-link" v-bind:class="{'active': step>=2,'disabled': step<2}">
                  <span class="round-tab">
                    <i class="fa fa-pencil-square-o"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3" class="nav-link " v-bind:class="{'active': step>=3,'disabled': step<3}">
                  <span class="round-tab">
                    <i class="fa fa-info"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4" class="nav-link" v-bind:class="{'active': step>=4,'disabled': step<4}">
                  <span class="round-tab">
                    <i class="fa fa-upload"></i>
                  </span>
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5" class="nav-link" v-bind:class="{'active': step>=5,'disabled': step<5}">
                  <span class="round-tab">
                    <i class="fa fa-check"></i>
                  </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div v-bind:class="{  'active': step==2}" class="tab-pane " role="tabpanel" id="step2">
                        <div class="marginUnder"><h1 class="text-md-center">Step 2</h1></div>
                        <div class="container-fluid form-body">
                            <form>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="firstName">First Name:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="firstName" placeholder="Enter First Name" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid first name
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="lastName">Last Name:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="lastName" placeholder="Enter Last Name" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid last name
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="zipCode">Zip Code:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="zipCode" placeholder="Enter Zip Code" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid zip code
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="policyNum">Policy Number:</label>
                                    <input type="text" class="form-control  col-xs-8 col-md-4" id="policyNum" placeholder="Enter Policy Number" required>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Please enter a valid policy number
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="phone">Phone Number:</label>
                                    <div class="input-group col-xs-8 col-md-4">
                                        <div class="input-group-prepend">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownCountryBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span style="padding-right: 20px;"><div id="flagBtn" class="dropdown-country-flagsbutton" style="background-position: -1px -2670px;"></div></span>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownCountryBtn">
                                                    <a class="dropdown-item dropdown-country-relative" href="#">
                                                        <div class="dropdown-country-flags" style="background-position: -1px -2670px;"></div>
                                                        <div class="dropdown-country-words">Ireland<span class="dropdown-country-number">+353</span></div>
                                                    </a>
                                                    <a class="dropdown-item dropdown-country-relative" href="#">
                                                        <div class="dropdown-country-flags" style="background-position: -1px -1072px;"></div>
                                                        <div class="dropdown-country-words">China<span class="dropdown-country-number">+86</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="tel" class="form-control" id="phone"  placeholder="Phone number" required>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid phone number
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <input class="btn btn-lg btn-primary form-submit step-button" type="button" v-on:click="step+=1" value="Search">
                                </div>

                            </form>

                        </div>
                    </div>
                    <div v-bind:class="{  'active': step==3}" class="tab-pane" role="tabpanel" id="step3">
                        <div class="marginUnder"> <h1 class="text-md-center">Step 3</h1></div>
                        <div id="accordion">
                            <div class="card ">
                                <div class="card-header bg-primary">
                                    <a class="card-link  text-white" data-toggle="collapse" href="#collapseOne">
                                        保单基本信息
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">保险起期： </div>
                                            <div class="infMargin col-md-4">2019-03-29 0时起</div>
                                            <!--</div>-->
                                            <!--<div class="dateEnd">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">保险止期： </div>
                                            <div class="infMargin col-md-4">2019-03-29 24时起</div>
                                            <!--</div>-->
                                        </div>

                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin  insurnInf col-xs-12 col-md-2">旅游目的地：</div>
                                            <div class="infMargin col-md-4">爱尔兰 Ireland</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="method">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">收益方式： </div>
                                            <div class="infMargin col-md-4">法定继承人</div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-primary">
                                    <a class="collapsed card-link  text-white " data-toggle="collapse" href="#collapseTwo">
                                        投保人信息
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">姓名： </div>
                                            <div class="infMargin col-xs-12 col-md-4">谷雨</div>
                                            <!--</div>-->
                                            <!--<div class="dateEnd">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2">性别： </div>
                                            <div class="infMargin col-xs-12 col-md-4">男</div>
                                            <!--</div>-->
                                        </div>

                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">证件类型： </div>
                                            <div class="infMargin col-xs-12 col-md-4">身份证</div>
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">证件号码： </div>
                                            <div class="infMargin col-xs-12 col-md-4">230***********0919</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="method">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">出生日期： </div>
                                            <div class="infMargin col-xs-12 col-md-4">1997-1-08</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">联系电话： </div>
                                            <div class="infMargin col-xs-12 col-md-4">17801120851</div>
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">电子邮箱： </div>
                                            <div class="infMargin col-xs-12 col-md-4">guyu_123@yeah.net</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">所在国家： </div>
                                            <div class="infMargin col-xs-12 col-md-4">中国</div>
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">所在城市： </div>
                                            <div class="infMargin col-xs-12 col-md-4">北京</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="destination">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-2 ">邮编： </div>
                                            <div class="infMargin col-xs-12 col-md-4">100124</div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="text-md-center ul-inf-button">
                            <li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>
                            <li class="col-md-4"><button type="button"  v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Next Step</button></li>
                        </ul>


                    </div>
                    <div   v-bind:class="{  'active': step==4}" class="tab-pane" role="tabpanel" id="step4">
                        <div class="marginUnder"><h1 class="text-md-center">Step 4</h1></div>
                        <div class="row">
                            <div class="container-fluid form-body">
                                <form>

                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemType">物品种类:</label>
                                        <select class=" form-control custom-select col-xs-8 col-md-4" id="itemType" required>
                                            <option selected value="cloth">cloth</option>
                                            <option value="digital-product">digital product</option>
                                            <option value="document">document</option>
                                        </select>
                                        <!--<input type="text" class="form-control  col-xs-8 col-md-4" id="itemType" placeholder="Enter Last Name" required>-->
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid last name-->
                                        <!--</div>-->
                                    </div>


                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemName">丢失物品名称:</label>
                                        <input type="text" class="form-control  col-xs-8 col-md-4" id="itemName" placeholder="如 AJ1 黑脚趾" required>
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid first name-->
                                        <!--</div>-->
                                    </div>

                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " >丢失物品照片:</label>
                                        <div class="input-group col-xs-8 col-md-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="preItemPhoto">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="itemPhoto" aria-describedby="preItemPhoto">
                                                <label class="custom-file-label" for="itemPhoto">Choose file</label>
                                            </div>
                                        </div>
                                        <!--<input type="text" class="form-control  col-xs-8 col-md-4" id="zipCode" placeholder="Enter Zip Code" required>-->
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid zip code-->
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemDesc">丢失物品描述:</label>
                                        <textarea class="form-control  col-xs-8 col-md-4" id="itemDesc" placeholder="" required></textarea>
                                        <div class="invalid-feedback" style="width: 100%;">
                                            Please enter a valid policy number
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label v-bind:class="{'text-right': !isMobile}" class="col-form-label col-xs-8 col-md-4 " for="itemEmail">联系邮箱:</label>
                                        <input type="email" class="form-control  col-xs-8 col-md-4" id="itemEmail" placeholder="123@example.com" required>
                                        <!--<div class="invalid-feedback" style="width: 100%;">-->
                                        <!--Please enter a valid first name-->
                                        <!--</div>-->
                                    </div>

                                    <div class="form-group row">
                                        <!--<input class="btn btn-lg btn-primary form-submit step-button" type="button" v-on:click="step+=1" value="Search">-->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="text-md-center ul-inf-button">
                            <ul class="text-md-center ul-inf-button">
                                <li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>
                                <li class="col-md-4"><button type="button"  v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Submit</button></li>
                            </ul>
                        </ul>
                    </div>
                    <div  v-bind:class="{  'active': step==1}" class="tab-pane" role="tabpanel" id="step1">
                        <div class="marginUnder"><h1 class="text-md-center">Step 1</h1></div>
                        <div class="container-fluid form-body">

                        </div>
                        <ul class="text-md-center ul-inf-button">

                            <li class="col-md-4"><button type="button"  v-on:click="step+=1" class="btn btn-lg btn-primary step-button">Agree</button></li>
                        </ul>
                    </div>
                    <div  v-bind:class="{  'active': step==5}" class="tab-pane" role="tabpanel" id="step5">
                        <div class="marginUnder">
                            <div class="alert alert-primary">
                                当前状态
                                <h1 style="color: #155724;"><strong>理赔受理中</strong></h1>
                                系统已自动发起理赔，审核通过后72小时理赔款将通过支付宝或者预留银行卡号支付到卖家的支付宝账户中。
                            </div>
                        </div>


                        <div id="claimOrder">
                            <div class="card ">
                                <div class="card-header bg-primary">
                                    <a class="card-link  text-white"  data-toggle="collapse" href="#collapse1">
                                        保单详情
                                    </a>
                                </div>
                                <div id="collapse1" class="collapse show" data-parent="#claimOrder">
                                    <div class="card-body">
                                        <div class="row">
                                            <!--<div class="dateStart">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">订单编号： </div>
                                            <div class="orderNum infMargin col-md-6">816385292874222</div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <!--<div class="dateEnd">-->
                                            <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">预计获得赔付金额： </div>
                                            <div class="orderMon infMargin col-md-6">11.00元 <a href="#" v-on:click="showDetail = !showDetail">详情</a></div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div v-show::="showDetail" id="detail" class="card ">
                                    <div class="card-header bg-primary">
                                        <a class="card-link  text-white"  data-toggle="collapse" href="#collapse2">
                                            赔付金额详情
                                        </a>
                                    </div>
                                    <div id="collapse2" class="collapse show" data-parent="#claimOrder">
                                        <div class="card-body">
                                            <div class="row">
                                                <!--<div class="dateStart">-->
                                                <div v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">物品种类： </div>
                                                <div class="orderNum infMargin col-md-6">文件</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="dateEnd">-->
                                                <div  v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">原物品赔付金额： </div>
                                                <div class="orderMon infMargin col-md-6">1.00元</div>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <!--<div class="dateEnd">-->
                                                <div  v-bind:class="{'text-right': !isMobile}" class="infMargin insurnInf col-xs-12 col-md-6">保价金额： </div>
                                                <div class="orderMon infMargin col-md-6">10.00元</div>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="text-md-center ul-inf-button">
                                <!--<li class="col-md-4"><button type="button" v-on:click="step-=1" class="btn btn-lg btn-primary step-button">Back</button></li>-->
                                <li class="col-md-8"><button type="button"  v-on:click="" class="btn btn-lg btn-primary step-button">Finish</button></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/MDB/js/mdb.js}" src="../../static/libs/MDB/js/mdb.js"></script>
<!--<script src="../../static/js/bootstrap-material-design.min.js" th:src="@{/js/bootstrap-material-design.js}"></script>-->
<script src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../../static/js/vue-router.js" th:src="@{/js/vue-router.js}"></script>
<script src="/js/claim/newClaim.js"></script>
</body>
</html>